<!DOCTYPE html>
<html>
	<head>
		<!--our own css-->
		<link rel="stylesheet" type="text/css" href="./stylesheets/stylesheet.css">
		
		<!--bootstrap cdn-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	</head>

	<body>
		<!--html code goes here -->
		<div id="cont" class="container">
		
			<div id="titleBox" class="jumbotron">
				<h1 id="title">Searching for a Job</h1>
			</div>
			
			
		<div id="navbar">
			<ul id="nav-link" class="nav nav-pills">
			  <li><a href="#">Dashboard</a></li>
			  <li class="active"><a href="#">Profile Settings</a></li>
		   	  <li><a href="#">Search for a Job</a></li>
			  <li><a href="#">Admin Access</a></li>
			  <li><a href="#">Logout</a></li>			  
			</ul><br>
		</div>

		<div id="outContainer">
			<div id="profileInfo" class="container-fluid well span6">
				<div class="row-fluid">
						<ul class="nav">
							<li>
								First, last name: 
								<p id="name" class="info"></p>
							</li>
							<li>
								Email:
								<p id="email" class="info"></p>
							</li>
							<li>
								Locale:
								<p id="locale" class="info"></p>
							</li>
							<li>
								Rating:
								<p id="rating" class="info"></p>
							</li>
							<li>
								Recent job:
								<p id="recentJob" class="info"></p>
							</li>
						</ul>
					</div>
			</div>

			<div id="inContainer" class="container-fluid">
				<div class="col-xs-12">
				  <form role="form">
				  
					<div class="form-group">
					  <label for="email">Email Address</label>
					  <input type="text" class="form-control" id="email" placeholder="Enter email">
					</div>
					
					<div class="form-group">
					  <label for="pwd">Password</label>
					  <input type="password" class="form-control" id="pwd" placeholder="Enter password">
					</div>
					
					<div class="form-group">
					  <label for="phone">Phone</label>
					  <input type="text" class="form-control" id="phone" placeholder="eg.123-456-7890">
					</div>
					
					<div class="form-group">
						<label for="pselect">Province</label>
						<select id="pselect" class="form-control">
							<option value=1>Select a province</option>
							<option value=2>Ontario</option>
							<option value=3>British Columbia</option>
							<option value=4>Manitoba</option>
							<option value=5>Quebec</option>
						</select>
					</div>
					
					<div class="form-group">
					  <label for="skills">Skill Description</label>
					  <textarea type="text" class="form-control" rows="4" id="skills" placeholder="Skill Desc."></textarea>
					</div>
					
					<b>Privacy Settings</b><br>
					<label class="radio-inline">
					  <input type="radio" name="optradio">Light
					</label>
					<label class="radio-inline">
					  <input type="radio" name="optradio">Medium
					</label>
					<label class="radio-inline">
					  <input type="radio" name="optradio">Heavy
					</label><br><br>
					<button id="submitButton" type="submit" class="btn btn-primary">Save Changes</button>
				  </form>
				  
				    <div class="row">
				  
				</div>
			</div>

		</div>


			 
		</div>
		
		<!--jquery cdn-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</body>
</html>
