#titleBox{
	background-color: LightSteelBlue;
	border-radius: 25px;
    border: 3px solid #778899;
}

#title{
	text-align: center;
}

.form-group{
	text-align: left;
}

#nav-link > li+li{
	margin-left: 90px;
}

#outContainer{
	display: flex;
}

#profileInfo{
	width: 300px;
	height: 200px;
}

#inContainer{
	float: right;
	width: 100%;
}

.clickable-row {
	cursor: pointer;
	background: #fff !important;
}

.clickable-row:hover {
	background: rgba(52, 152, 219,0.1) !important;
}

#newJobsContainer {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

table {
	margin-bottom: 0px !important;
}

#contactInfo {
	width: 200px;
	height: 200px;
}

#resume > input {
	display: inline;
}

#resume {
	margin-bottom: 10px;
}

#details > p {
	display: inline;
}
