#titleBox{
	background-color: LightSteelBlue;
	border-radius: 25px;
    border: 3px solid #778899;
}

#title{
	text-align: center;
}

.form-group{
	text-align: left;
}

#nav-link > li+li{
	margin-left: 90px;
}

#outContainer{
	display: flex;
}

#profileInfo{
	width: 300px;
}

#inContainer{
	float: right;
	width: 100%;
}

