#titleBox{
	background-color: LightSteelBlue;
	border-radius: 25px;
    border: 3px solid #778899;
}

#title{
	text-align: center;
}

.form-group{
	text-align: left;
}

#nav-link > a{
	margin-left: 80px;
}

.form-control {
	margin-left: 90px;
}

